.phpintel
/vendor
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
mix-manifest.json
/.idea
.idea
.vscode
.DS_Store
.AppleDouble
.LSOverride
.htaccess
package-lock.json
/node_modules
/assets